In [ ]:
a=int(input("Enter length ="))
b=int(input("Enter width ="))
area=a*b
print("Area of rectangle =", area)

Enter length =5
Enter width =2
Area of rectangle = 10

In [ ]:
a=int(input("Enter first number="))
b=int(input("Enter second number="))
Sum=a+b
Difference=a-b
Product=a*b
Quotient=a/b
print("Sum =", Sum )
print("Difference =", Difference)
print("Product =", Product)
print("Quotient =", Quotient)

Enter first number=10
Enter second number=5
Sum = 15
Difference = 5
Product = 50
Quotient = 2.0

In [ ]:
temp=input('Enter the value of temperature in F/C =')
if temp[-1]=='F':
  print('The value of the temperature in Celsius is ',(((int(temp[:-1]))-32)*5)/9)
elif temp[-1]=='C':
  print('The value of the temperature in Fahrenheit is ',(((int(temp[:-1]))*9)/5) + 32)
else:
  print('Invalid Entry')

Enter the value of temperature in F/C =28F
The value of the temperature in Celsius is  -2.2222222222222223

In [ ]:
z=int(input('Enter a number ='))
if z>0:
  print("The number is positive")
elif z<0:
  print("The number is negative")
elif z==0:
  print("The number is zero")
else:
 print("Invalid")

Enter a number =6
The number is positive

In [ ]:
year=int(input('Enter the year '))
if year%4==0 and year%100!=0:
  print('The year is a leap year')
elif year%400==0:
  print('The year is a leap year')
else:
  print('The year is not a leap year')

Enter the year 2040
The year is a leap year

In [12]:
mark=int(input("Enter marks obtained ="))
if mark >=90 and mark<=100:
  print("Your grade is A")
elif mark >=80 and mark<=89:
  print("Your grade is B")
elif mark >=70 and mark<=79:
  print("Your grade is C")
elif mark >=60 and mark<=69:
  print("Your grade is D")
elif mark >=0and mark<=59:
  print("Your grade is F")
else:
  print("Invalid")

Enter marks obtained =67
Your grade is D

In [ ]:
for num in range(10,0,-1):
  print(num)

10
9
8
7
6
5
4
3
2
1

In [ ]:
for n in range(2,22,2):
  print(n)

2
4
6
8
10
12
14
16
18
20

In [ ]:
n= int(input("Enter the number = "))
for i in range(1,11):
  print(n,"X",i,"=",n*i)

Enter the number = 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50